code {
    display: inline-block;
    background-color: lightgray;
    padding: 20px;
    margin: 5px 5px;
}


code .highlight-on-hover:hover{
    background-color:yellow;
    padding-top: .5em;
    padding-bottom: .5em;
    cursor: help;
}

.ui-helper-hidden-accessible{
    visibility: hidden;
    display: none;
}

.ui-tooltip {
    background:white;
    border: 2px solid white;
    padding: 10px 20px;
    color: black;
    border-radius: 20px;
    font: bold 14px;
    box-shadow: 0 0 7px black;
    max-width: 600px;
    line-height: 1.4;
    position: absolute;
  }

 p a, p a:visited{
      color: #74a830;
  }
  p a:visited{
    color: #74a830;
}