.line {
    fill: none;
    stroke: #74a830;
    stroke-width: 3;
}

.line_blue {
  fill: none;
  stroke: #0000ff;
  stroke-width: 3;
}

.dot {
    fill: #ffab00;
    stroke: #fff;
}

.shaded-area {
  fill: #cccccc;
  opacity: 0.5;
}

.ptimeslogratio {
  fill: #cccccc;
  opacity: 0.5;
}

.axisOrange line{
  stroke: #ffab00;
}

.axisOrange path{
  stroke: #ffab00;
}

.axisOrange text{
  fill: #ffab00;
}  