html { 
  font-size: 18px;
  color: #3b3b3b;
}

#profile-pic {
  border-radius: 50%;
  border: solid 4px #3037ff;
  margin: 8% auto;
  display: block;
}

#intro {
  font-size: 24px;
  text-align: center;
  margin: 5% auto;
  width: 75%
}

#cloud {
  height: 400px;
  width: 95%;
  margin: 10vh auto;
  border: solid 0.5px #eeeeee;
}

header div{
  display:block;
  background-color: #3037ff;
  height: 50px;
  margin: 0 0 2% 0;
  padding: 0;
}

footer div{
  display:block;
  background-color: #3037ff;
  height: 10px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover{
  text-decoration: underline;
}

a:visited{
  color: inherit;
}

 nav a{
   font-size: 1.3rem;
   font-variant: small-caps;
   margin: 3%;
   color: #6b6b6b;
 }


 nav li{
   display: block;
   width: 100%;
   margin: 3% auto;
   text-align: center;
 }

 nav ul{
   margin: auto 0;
   padding: 0
 }

 h3 {
   text-align:center;
   margin-top: 2rem;
   font-weight: normal;
 }

 .blogdate{
   margin-top: 0rem;
   text-align: left;
 }

.projects, .blogpost {
   list-style: none;
   margin: 5% auto;
   padding-top: 10%;
   padding-bottom: 2%;
   width: 90%;
   box-shadow: 0.5px 1px #eeeeee;
   border: solid 0.5px #eeeeee;
   border-radius:5px;
   padding-left: 5%;
}

.blogpost {
  margin-top: 40px;
}

li {
  margin:0 0 10% 0;
  font-size: 1rem;
}

.projects li{
  margin-right: 10px;
}

.project-head, .blogtopic{
  display:inline;
  font-weight: normal;
  color:#74a830;
}

.project-head {
  font-size: 1.2em;
}

.green {
  color:#74a830;
}
.green:visited {
    color:#74a830;
}

.blogtopic{
  font-size: 1.5em;
}

#twitter-icon{
  text-align: center;
  color:#3037ff;
  font-size:1.6em;
}

@media screen and (min-width: 650px) {

   h3 {
     margin-top: 60px;
   }

   nav li{
     display: inline;
   }
   li {
     margin:0 0 40px 0;
     font-size: 1rem;
   }
   .projects{
     padding-top: 40px;
     margin-top: 0px;
     width: 70%;
     padding-right:5%;
   }
   .blogpost {
     padding-top: 40px;
     margin-top: 40px;
     width: 70%;
     padding-right:5%;
     margin-bottom: 3%;
   }
   #profile-pic {
      margin: 50px auto;
   }

   #cloud {
    height: 400px;
    width: 50%;
    margin: 10vh auto;
    border: solid 0.5px #eeeeee;
  }
  


}
